.main-img{
    height: 400px;
    width: 350px;
    object-fit: cover;
    border: 2px solid rgb(89, 87, 87);
    border-radius: 15px;
    box-shadow: 10px 15px 25px 5px rgb(43, 41, 41);
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-img-container{
    display: flex;
    justify-content: center;
}

.watch-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    padding: 10px;
    margin: 40px 10px;
    border: 2px solid rgb(65, 67, 65);
    border-radius: 15px;
    cursor: pointer;
}